<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JHTopChooseDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>337F51321CBA25F90025E53E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337F514B1CBA25F90025E53E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337F51561CBA25F90025E53E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
